.centerGameBar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.gameBar{
    margin-top: 2em;
    border: 2px rgb(69, 69, 69) solid;
    width: 70%;
    height: 5em;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.players{
    border-right: 2px rgb(69, 69, 69) solid;
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.player{
    margin: 0.25em;
}
.privateSwitcher{
    padding: 1em;
    border: 2px rgb(69, 69, 69) solid;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}
.grow1{
    flex-grow: 1;
}